/* start variables */
:root {
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --section-padding: 60px;
    --section-background:#f6f6f6;
}
/* end variables */
/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {font-family: 'Work Sans', sans-serif;}
html { scroll-behavior: smooth;}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/*color: #ebeced;*/
/* end global rules */
/* start compoents */
.title .text {
    color: #690b2c;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
}
.ready {
    background-color: var(--section-background);
    padding: var(--section-padding);
}
.ready h3 {
    color: #d27913;
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    letter-spacing: -3px;
}
.ready ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.ready ul li {
    padding: 10px;
    border: 4px, solid, #2c4755;
    margin: 0 10px;
    border-radius: 20px;
    color: #ecc00d;
}

/* .ready ul li:first-child {
    background-color: #396a07;
} */
.ready ul li:hover {
    background-color: #396a07;
    cursor: pointer;
}

.game {
    padding: var(--section-padding);
}
/* .game .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 0px;
} */
.game .container ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}
.game .container ul li {
    /* width: 100%;
    height: 100%; */
    margin: 10px;
    z-index: -1;
    position: relative;
}
.game .container ul li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ebeced;
    z-index: -1;

}
/* end compoents */